<!DOCTYPE html>
<html>
<head>
  <title>Hands@Work</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/yeti/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/app.css">
</head>
<body>

  <div class="main-content">
    {{{body}}}
  </div>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/retina.js/1.3.0/retina.min.js"></script>
</body>
</html>